<ion-header>
  <ion-toolbar>
    <ion-title>Editar Persona</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" [(ngModel)]="lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">CI</ion-label>
      <ion-input type="text" [(ngModel)]="ci"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input type="text" [(ngModel)]="phone"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="full" color="primary" (click)="saveChanges()">Guardar Cambios</ion-button>
</ion-content>
